<div class="datagrid">
<table>
    <thead>
    <tr>
        <th colspan="3" align="center">For the Period <br>
            {{ perioddescription }}</th>
    </tr >
    </thead>
    <tbody>
    <tr>
        <td >Site Visitors</td>
        <td>&nbsp;</td>
        <td align="right">{{ formatCurrency visits }}</td>
    </tr>
    <tr>
        <td >Evangelism Responses</td>
        <td>&nbsp;</td>
        <td align="right">{{ formatCurrency responses }}</td>
    </tr>

    <tr>
        <td>Salvations</td>
        <td align="right">{{ formatCurrency salvations }}</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Recommitments</td>
        <td align="right">{{  formatCurrency recommitments }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Questions Asked</td>
        <td align="right">{{  formatCurrency questions }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Prayer Needs</td>
        <td align="right">{{  formatCurrency prayerrequests }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Subscriptions</td>
        <td align="right">{{  formatCurrency subscriptions }}</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td >Inquirers</td>
        <td>&nbsp;</td>
        <td align="right">{{ formatCurrency inquirers }}</td>
    </tr>
    </tbody>
</table>
</div>