<h1>Testimonies</h1>
<p>These testimonies are refreshed once a week on Tuesday</p>
<div data-role="collapsible-set">
{{#each .}}
    <div data-role="collapsible">
      <h3>{{ flagIconLink userlocation~}}&nbsp;A {{ genderToPerson gender }} from {{ userlocation~}}  shared a testimony on  {{ shortenedDate datesubmitted }}</h3>
      <p>{{ comments }}</p>
  </div>
{{/each}}

</div>