<table>
    <tr>
        <td>Visitors</td>
        <td>{{ visits }}</td>
    </tr>
    <tr>
        <td>Responses</td>
        <td>{{ responses }}</td>
    </tr>
    <tr>
        <td>Inquirers</td>
        <td>{{ inquirers }}</td>
    </tr>
    <tr>
        <td>Salvations</td>
        <td>{{ salvations }}</td>
    </tr>
    <tr><td>Recommitments</td><td>{{  recommitments }}</td></tr>
</table>
