<h1>Recent Inquiries</h1>
<ul>
{{#each .}}
     <li>{{ flagIconLink country~}}&nbsp;<span style="text-transform:capitalize;font-weight:bold;">{{ decision }}</span> from a {{ genderToPerson gender }} in <strong>{{ country~}}</strong>&nbsp;on  {{ dateTime datesubmitted }}</li>

{{/each}}
</ul>