<h2>Summary Statistics</h2>
<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th colspan="3" align="center">For the Period <br>
                {{ perioddescription }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Site Visitors</td>
            <td>&nbsp;</td>
            <td align="right">{{ formatCurrency visits }}</td>
        </tr>
        <tr>
            <td>Evangelism Responses</td>
            <td>&nbsp;</td>
            <td align="right">{{ formatCurrency responses }}</td>
        </tr>
        <tr>
            <td>Discipleship Connections</td>
            <td>&nbsp;</td>
            <td align="right">{{ formatCurrency inquirers }}</td>
        </tr>
        <tr>
            <td>Salvations</td>
            <td align="right">{{ formatCurrency salvations }}</td>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>Recommitments</td>
            <td align="right">{{  formatCurrency recommitments }}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Questions Asked</td>
            <td align="right">{{  formatCurrency questions }}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Prayer Needs</td>
            <td align="right">{{  formatCurrency prayerrequests }}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Subscriptions</td>
            <td align="right">{{  formatCurrency subscriptions }}</td>
            <td>&nbsp;</td>
        </tr>

        </tbody>
    </table>
</div>


<div data-role="collapsible-set">
    <div data-role="collapsible">
        <h2>Visitor Nations</h2>

        <div class="datagrid">
            <table id="full-visits-countries" class="tablesorter">
                <thead>
                <th>&nbsp;</th>
                <th>Country</th>
                <th>Visitors</th>
                </thead>
                <tbody>
                {{#each visitscountries}}
                    {{#if country}}
                        <tr>
                            <!--<td>{{counter @index }}. {{ flagIconLink country~}}&nbsp; {{ country~}} </td>-->
                            <td class="flag-align"> {{ flagIconLink country~}}</td>
                            <td> {{ country~}} </td>

                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div data-role="collapsible">
        <h2>Visitor Sites</h2>

        <div class="datagrid">
            <table id="full-visits-sites" class="tablesorter">
                <thead>
                <th>Website</th>
                <th>Visits</th>
                </thead>
                <tbody>
                {{#each visitssites}}
                    {{#if hostname}}
                        <tr>
                            <td>{{ hostname~}}</td>
                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div data-role="collapsible">
        <h2>Evangelism Response Nations</h2>

        <div class="datagrid">
            <table id="full-response-countries" class="tablesorter">
                <thead>
                <th>&nbsp;</th>
                <th>Nation</th>
                <th>Responses</th>
                </thead>
                <tbody>
                {{#each responsecountries}}
                    {{#if country}}
                        <tr>
                            <!--<td>{{counter @index }}. {{ flagIconLink country~}}&nbsp; {{ country~}} </td>-->
                            <td class="flag-align"> {{ flagIconLink country~}}</td>
                            <td> {{ country~}} </td>

                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div data-role="collapsible">
        <h2>Evangelism Response Sites</h2>

        <div class="datagrid">
            <table id="full-response-sites" class="tablesorter">
                <thead>
                <th>Website</th>
                <th>Responses</th>
                </thead>
                <tbody>
                {{#each responsesites}}
                    {{#if hostname}}
                        <tr>
                            <td>{{ hostname~}}</td>
                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div data-role="collapsible">
        <h2>Discipleship Connection Nations</h2>

        <div class="datagrid">
            <table id="full-inquirer-countries" class="tablesorter">
                <thead>
                <th>Nation</th>
                <th>Connections</th>
                </thead>
                <tbody>
                {{#each inquirercountries}}
                    {{#if country }}
                        <tr>
                            <td>{{ flagIconLink country~}}&nbsp;{{ country~}}</td>
                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
    <div data-role="collapsible">
        <h2>Dicipleship Connections Sites</h2>

        <div class="datagrid">
            <table id="full-inquirer-sites" class="tablesorter">
                <thead>
                <th>Website</th>
                <th>Inquirers</th>
                </thead>
                <tbody>
                {{#each inquirersites}}
                    {{#if hostname}}
                        <tr>
                            <td>{{ hostname }}</td>
                            <td align="right">{{ formatCurrency count }}</td>
                        </tr>
                    {{/if}}
                {{/each}}
                </tbody>

            </table>

        </div>
    </div>
</div>