<div class="center">
    <div class="bignumber">
        {{ total }}
    </div>
    <p class="visitors">Visitors on All Sites</p>

    <img style="width:450px;display:block;clear:both;float:none;margin:0 auto;" src="http://rest.net211.com/imgcache/livedata.jpg">
</div>
<!--<a href="#" onclick="refreshLiveStats()" data-role="button">Refresh</a>-->
<div data-role="collapsible-set">
<div data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-collapsible-collapsed">
    <h3>Visitor Nations</h3>

    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>Country</th>
                <th>Visitors</th>
            </tr>
            </thead>
            <tbody>
            {{#each countries }}
                <tr>
                    <td>{{ flagIconLink @key }}&nbsp;{{@key}}</td>
                    <td align="right">{{this}}</td>
                </tr>
            {{/each}}
            </tbody>

        </table>

    </div>
</div>
<div data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-collapsible-collapsed">
    <h3>Visitor Websites</h3>
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>Website</th>
                <th>Visitors</th>
            </tr>
            </thead>
            <tbody>
            {{#each sites }}
                <tr>
                    <td>{{@key}}</td>
                    <td align="right" valign="top">{{this}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-collapsible-collapsed">
    <h3>Pages Being Viewed</h3>

    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>Pages</th>
                <th>Visitors</th>
            </tr>
            </thead>
            <tbody>
            {{#each pages }}
                <tr>
                    <td>{{@key}}</td>
                    <td align="right">{{this}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>